body {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.shark-2_list:hover .overlay {
    opacity: 1;
  }
  .pages_list {
    display: flex;
    justify-content: space-between;
    list-style: none ;
}

.pages-link {
  font-family: 'Kaushan Script';
  text-decoration: none ;
  text-shadow: 3px 1px 3px black;
  font-size: 36px;
}
.Eda {
    text-align: center;
    color: black;
    border: 5px solid rgb(84, 75, 255);
    width: 350px;
    margin-left: 450px;
    margin-right: 450px;
}
.Eda2 {
    height: 675px;
    width: 900px;
    margin-left: 170px;
    margin-right: 170px;
}
.eda-photo {
    height: 337px;
    width: 450px;
}
.main-article {
    border: 5px solid greenyellow; 
    width: 455px;
    height: 595px;
    position: relative;
}
.bambyk {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 169, 8, 0.797);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s linear 250ms;
  }
.main-article:hover .overlay {
    opacity: 1;
  }

  button {
    background-color: rgb(255, 179, 0);
    color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .galery-video {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
  }

  .Eda-title {
    text-align: center;
    color: black;
    border: 5px solid rgb(255, 251, 126);
    width: 350px;
    margin-left: 450px;
    margin-right: 450px;
  }